.MuiLoadingButton-root {
  background: hsl(150, 100%, 34%);
}

.MuiLoadingButton-root:hover {
  background: hsl(148, 37%, 59%);
}

.css-1uamm5k-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: hsl(148, 37%, 59%);
}

.helperTextColor {
  color: red;
}

/* .go1725278324 {
  background-color: transparent !important;
} */
.apexcharts-toolbar {
  top: 3px !important;
  right: -21px !important;
}
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-zoom-icon,
.apexcharts-pan-icon,
.apexcharts-reset-icon {
  display: none !important;
}
.css-bmprcn-MuiPaper-root-MuiDrawer-paper,
.css-7lh4qq-MuiPaper-root-MuiDrawer-paper {
  background: hsl(211, 24%, 17%);
}
