.MuiLoadingButton-root {
  background: hsl(0, 100%, 27%);
}

.MuiLoadingButton-root:hover {
  background: hsl(3, 34%, 61%);
}

.css-1uamm5k-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: hsl(3, 34%, 61%);
}

.helperTextColor {
  color: red;
}

/* .go1725278324 {
  background-color: transparent !important;
} */
.apexcharts-toolbar {
  top: 0px !important;
  right: 0px !important;
}
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-zoom-icon,
.apexcharts-pan-icon,
.apexcharts-reset-icon {
  display: none !important;
}
.css-bmprcn-MuiPaper-root-MuiDrawer-paper,
.css-7lh4qq-MuiPaper-root-MuiDrawer-paper {
  /* background: hsl(220, 47%, 96%); */
  /* background: hsl(211, 24%, 17%); */
}
